* @bcumming @msimberg @RMeli
docs/services/firecrest @jpdorsch @ekouts
docs/software/communication @Madeeks @msimberg
docs/software/devtools/linaro @jgphpc
docs/software/prgenv/linalg.md @finkandreas @msimberg
docs/software/sciapps/cp2k.md @abussy @RMeli
docs/software/ml @boeschf
