* @bcumming @msimberg @RMeli
docs/services/firecrest @jpdorsch @ekouts
docs/software/communication @msimberg
docs/software/prgenv/linalg.md @finkandreas @msimberg
docs/software/sciapps/cp2k.md @abussy @RMeli
